.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  background-color: rgb(252, 252, 230) ;
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
    background: -webkit-linear-gradient(left, #a445b2, #fa4299);
}

::selection{
  background: #fa4299;
  color: #fff;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner {
  width: 40%;
  height: 40%;
}

.post-form {
  display: flex;
  background: #2aa6cc;
  flex-direction: column;
  padding: 1rem;
  margin: 0.5rem;
  position: center;
  border: 1px solid firebrick;
  justify-content: center;
}

.input {
  padding: 0.2rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  margin: 0.2rem;
  margin-left: 0.2rem;
  margin-right: 0.2rem;

}

.content-form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 0.5rem;
  position: center;
  justify-content: center;

} 

.title {
  text-align: center;
  color:black;

}

.btn-post {
  color:black;
  background-color:whitesmoke;
  position: center;
  cursor: pointer;
  height: 50px;
  margin: 0 0.3em 0.3em 0;
  padding: 0.3em 1.2em; 
  border: solid 5px black;
  font: inherit;
  display:inline-block;
  border-radius: 1.5em;
  box-sizing: border-box;
  font-family:'Comic Sans', sans-serif;
  font-weight: 200;
  color: #ffffff; 
  text-align: center; 
  transition: all 0.2s; 
}

.btn-post:hover{
  background-color:#4095c6;
}

.reg-container {
  display: flex;
  justify-content: center;
  background: #fff;
  padding: 4rem;
  margin: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
}

.log-container {
  display: flex;
  justify-content: center;
  background: #fff;
  padding: 5rem;
  margin: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.1);

}

.sub-container {
flex-basis: 10rem;
height: 5em;
margin: 5px;
box-shadow: black;
padding: 0.5em;
}

.login-form {
  padding: 1rem;
  margin: 0.5rem;
  position: center;
  justify-content: center;
}

.userlogin {
  padding: 0.2rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  margin: 0.2rem;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  text-align: center;
  color:black;
}

.form{
  margin: 0.5rem;
  position: center;
  justify-content: center;
}

.loginpw{
  text-align: center;
  color:black;
}


.password{
  text-align: center;
  color:black;
}

.username{
  text-align: center;
  color:black;
}

.email{
  text-align: center;
  color:black;
}


.email{
  text-align: center;
  color:black;
}

.main {
flex-basis: 10rem;
height: 5em;
margin: 5px;
padding: 0.5em;
box-shadow: black;
}
